@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }

  input:disabled {
    @apply brightness-90 disabled:cursor-wait bg-slate-900 text-slate-400;
  }

  button:disabled {
    @apply brightness-90 disabled:cursor-wait text-gray-200;
  }
}

@layer components {
  .btn-primary {
    @apply w-full bg-primary text-white font-bold p-3 rounded-lg hover:brightness-90 hover:transition-all active:brightness-110 hover:cursor-pointer;
  }
}
